# Rename this file from .dev.vars.example to .dev.vars and paste in your credentials

ENVIRONMENT=development

# The email address where you want to receive contact messages (your inbox)
EMAIL=your.email@gmail.com

# Your Resend API key — get one free at https://resend.com
RESEND_API_KEY=re_your_api_key_here

# This is a random string used for the session cookie for saving the preferred theme
SESSION_SECRET=your_random_session_secret
